@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #11e6e6;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}
    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #27acb1;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #22f9dc;
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
      
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}




.btn-brand-main{
    background: transparent;
    color: white;
    border: 1px solid lightblue;
    transition: .6s;
}
.btn-brand-main:hover{
    background: #348587;
    color: white;
}

.btn-brand{
    background: transparent;
    color: black;
    border: 1px solid lightgray;
    transition: .2s;
}
.btn-brand:hover{
    background: #348587;
    color: white;
}

.modal a.close-modal{
    top: -4.5px;
    right: -4.5px;
}
/* section h2{
    letter-spacing: 2px;
    text-transform: capitalize;
} */

.navbar-light .navbar-nav .nav-link{
    letter-spacing: 2px;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover{
   
    letter-spacing: 3px;
}


header span b {
    text-shadow: 0 0 4px pink,
    0 0 8px skyblue,
    0 0 12px skyblue,
    0 0 16px skyblue
}

.header{
    height: 80vh;
    background: url(./images/HeaderBG.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

.header-container{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}


.mix{
    border: 1px solid lightgray;
    border-radius: 10px; 
    margin:25px;  
}

.places .mix img{
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0px 0px ;
    transition: .5s;
}
.places .mix img:hover{
    opacity: .8;
}
.BDT{
    position: absolute;
    top: 70%;
    background-color: crimson;
    color: white;
    padding: 2px 5px;
    /* margin-left: -7px; */
}

#packages{
    background: url(./images/pkgBG.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    user-select: none;
}
.pkcard{
    width: 250px;
    border-radius: 10px;
}


#about {
    font-family: 'Barlow Condensed', sans-serif ;
    font-size: 20px;
}

footer ul li {
    list-style-type: none;
    margin-bottom: 12px;
}
footer{
    padding-top: 15px;
    background: url(./images/footerBG2.jpg);
    background-size: cover;
    background-position: top;
}

/* testimonial */
.carousel-item img {
    border-radius: 10px;
}

.captions{
    position: absolute;
    text-align: center;
    padding: 5px 0px;
    bottom: -4%;
    color: white;
    background-color: #272727ad;
    font-size: 25px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgb(0,0,0); */
    background-color:rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #3fb6b8;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 70px;
    }

    #about {
    background-image: linear-gradient(-120deg,transparent 50% ,#348587 50%);
    }
    #about #bio {
        color: white;
    }
    #about #bio p{
        padding-right: 12%;
    }

}


@media only screen and (max-width: 1024px) {
    header {
        font-size: 16px;
    }
    #about {
        text-justify: distribute-all-lines;
    }
    #bio h2 {
        text-align: center;
    }
    .mix{
         margin:40px;  
    }
}

@media only screen and (max-width: 770px) {
    h1 {
        font-size: 33px;
       }
    footer h5 {
        text-align: center;
        margin-bottom: 10px;
    }
    .mix{
        margin:10px;  
   }

}

